* {
  box-sizing: border-box;
}

::selection {
  background-color:white;
  color: white;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Droid Arabic Kufi;
  src: url(../webfonts/font/Droid\ Arabic\ Kufi\ Regular.ttf);
}
body {
  direction: rtl;
  font-family: "Droid Arabic Kufi";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*start haeder*/
header {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 5px;
  padding-bottom: 3px;
}
/*start navbar*/
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*start nav-right*/
header .container .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .right {
  display: flex;
  align-items: center;
}
header .right img {
  width: 150px;
}
header .right ul {
  display: flex;
  align-items: center;
}
header .right a {
  color: white;
  font-size: 13px;
  margin-left: 20px;
  transition: 0.4s;
}
header .right a:hover {
  color: rgba(255, 255, 255, 0.75);
}


/*start nav-left*/
header .left {
  display: flex;
  align-items: center;
}
header .left a {
  color: white;
  font-size: 13px;
}
header .left .login {
  display: flex;
  align-items: center;
  transition: 0.4s;
}
header .left .login:hover {
  color: rgba(255, 255, 255, 0.75);
}
header .left a svg {
  margin-left: 4px;
}
header .left a span {
  background-color: #28a745;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  padding: 1px 6px;
  padding-bottom: 2px;
  font-weight: 600;
  margin-right: 5px;
}
header .left .place {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #6c757d;
  border-radius: 4px;
  margin-right: 15px;
  transition: 0.5s;
}
header .left .place:hover {
  border-color: #545b62;
}
header .left .place img {
  width: 20px;
  border-radius: 50%;
  margin-left: 3px;
}
/*start main*/
main {
  background: url(/imges/home-bg.jpg);
  background-size: cover;
  height: calc(85vh - 64px);
  text-align: center;
  color: #fff;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
main .text {
  transform: translateY(140%);
}
main .text h1 {
  font-size: 50px;
  margin-top: 0px;
  font-weight: 300;
  margin-bottom: 0px;
}
main .text p {
  margin-top: 12px;
  margin-bottom: 60px;
}
main .text a {
  background-color: #935cae;
  color: #fff;
  font-size: 19px;
  padding: 6px 50px;
  border-radius: 8px;
  transition: 0.5s;
}
main .text a:hover {
  background-color: #6f4584;
  color: #212529;
}
/*end main*/

/*start  product*/
.product {
  padding-top: 30px;
}
.product h2 {
  font-size: 45px;
  color: #333;
  font-weight: 300;
  text-align: center;
}
.product .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 60px;
}
.product .items img {
  width: 100%;
  border-radius: 20px;
  transition: 0.3s;
}
.product .item:hover img {
  filter: brightness(0.7);
}
.product .items .item {
  position: relative;
}
.product .items .info h3 {
  position: absolute;
  top: 60px;
  right: 40px;
  font-size: 24px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
}
.product .item:hover .info h3 {
  color: #fff;
}
.product .items .info h3::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: -20px;
  right: 2px;
  width: 55%;
  height: 3px;
}
.product .items .words {
  position: absolute;
  bottom: 28px;
  right: 20px;
}
.product .items .info span {
  display: inline-block;
  bottom: 10px;
  font-size: 13px;
  background-color: #ffffffa6;
  color: #333;
  border-radius: 20px;
  padding: 4px 10px;
  margin-left: 2px;
  margin-top: 10px;
}
/*end  product*/

/*start  about*/
.about {
  padding-top: 40px;
  padding-bottom: 50px;
}
.about h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 300;
}
.about .about-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.about .about-box svg {
  color: var(--main-color);
}
.about .about-box h4 {
  font-size: 19px;
  color: #333;
  text-align: center;
  font-weight: 300;
}
.about .about-box img {
  width: 100%;
}
.about .link {
  text-align: center;
}
.about a {
  display: inline-block;
  color: #fff;
  background-color: var(--main-color);
  font-size: 19px;
  padding: 15px;
  border-radius: 8px;
}
/*end  about*/
/*start section */
.partners {
  text-align: center;
}
.partners h2 {
  font-size: 45px;
  color: #333;
  margin-bottom: 0px;
  font-weight: 300;
}
.partners p {
  color: #777;
}
.partners .swiper {
  margin-top: 40px;
  margin-bottom: 40px;
}
.partners .swiper-wrapper {
  display: flex;
  align-items: center;
}
.partners .swiper-slide img {
  width: 200px;
}
/*end section */

/*star book*/
.book {
  background-image: linear-gradient(60deg, #464498, #6b358b, #3e225d);
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}
.book .box p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}
.book .box h2 {
  color: #ff9b17;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 20px;
}
.book .box span {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.book .box a {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 15px;
}
/*end book*/



/*start footer*/
footer {
  background-color: #313238;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 4px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*start footer-right*/
footer .right {
  display: flex;
  align-items: center;
}
footer .right p {
  font-size: 20px;
  font-weight: 300;
}
footer .right p a {
  color: #ff9b17;
  font-weight: bold;
}
footer .right ul {
  display: flex;
  align-items: center;
}
footer .right ul a {
  font-size: 18px;
  margin-right: 35px;
  color: #fff;
  transition: 0.4s;
}
footer .right ul a:hover {
  color: #935cae;
}
/*end footer-right*/
/*start footer-left*/
footer .left {
  font-weight: 300;
}
/*end footer-left*/

/*end footer*/

/*stat form.html*/

/*start section content*/
.content {
  background: white;
  background-image: url(../images/home-bg-white.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 20px;
}
.content .box {
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ced4da;
  width: 60%;
}
/*start div info*/
.content .box .info {
  text-align: center;
}
.content .box .info a.top {
  display: inline-block;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px 15px;
  transition: 0.4s;
}
.content .box .info a.top:hover {
  background-color: var(--main-color);
  color: #fff;
}
.content .box .info p {
  color: #868ba1;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.content .box .info h2 {
  color: #868ba1;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-weight: 300;
}
.content .box .info img {
  width: 250px;
  border-radius: 10px;
}
/*end div info*/

/*start div progress-bar*/
.content .box .progress-bar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .box .progress-bar ul {
  display: flex;
  align-items: center;
  text-align: center;
}
.content .box .progress-bar a {
  display: inline-block;
  color: #aaa;
  background-color: #e9ecef;
  font-size: 14px;
  padding: 17px 20px;
  border-radius: 8px;
  margin-left: 15px;
}
.content .box .progress-bar a span {
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px 9px;
}
.content .box .progress-bar .progress-active {
  background-color: var(--main-color);
  color: #fff;
}
/*end div progress-bar*/

/*start div form*/
.content .box-body {
  background-color: #e9ecef;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 10px;
}
.content .box-body .form-step {
  display: none;
}
.content .box-body .form-active {
  display: block;
}
.content .box-body .form-step label {
  display: block;
  color: #868ba1;
  font-size: 14px;
  margin-bottom: 10px;
}
.content .box-body .form-step label span {
  color: #dc3545;
  font-size: 14px;
}
.content .box-body .form-step .input {
  margin-bottom: 15px;
  display: block;
  width: 50%;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #aaa;
  caret-color: var(--main-color);
}
.content .box-body .form-step .input::placeholder {
  font-size: 13px;
  transition: opacity 0.4s;
}
.content .box-body .form-step .input:focus::placeholder {
  opacity: 0;
}
.content .box-body .form-step .image button {
  color: #212529;
  border: 1px solid var(--main-color);
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.content .box-body .form-step textarea {
  height: 150px;
}
.content .box-body .form-step p {
  color: red;
  font-size: 13px;
  margin-bottom: 30px;
  line-height: 20px;
}
.content .box-body .form-step label.check {
  display: inline-block;
  margin-right: 7px;
}
.content .box-body .form-step input[type="checkbox"] {
  display: inline-block;
  margin-bottom: 22px;
}
/*end div form*/
/*start div actions*/
.content .actions ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .actions ul a {
  color: #aaa;
  background-color: #e9ecef;
  font-size: 14px;
  display: inline-block;
  padding: 12px 22px;
  border-radius: 8px;
}
.content .actions ul a:visited {
  color: #fff;
  background-color: var(--main-color);
}
/*end div actions*/

/*end section content*/
